@font-face {
    font-family: 'St.Sign';
    src: url('./fonts/st.sign/st.sign.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'St.Sign Condensed';
    src: url('./fonts/st.sign/st.sign-condensed.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('./fonts/arial/arial.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('./fonts/arial-narrow/arial-narrow.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Felidae';
    src: url('./fonts/felidae/felidae.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

