@import 'stylesheets/reset.scss';
@import 'stylesheets/fonts.scss';
@import 'stylesheets/vars.scss';
@import 'stylesheets/basics.scss';
@import 'stylesheets/main.scss';

:root {
    --body-margin: 7vw;
}

* {
    font-family: 'Inter', sans-serif !important;
    font-feature-settings: 'dlig', 'liga', 'calt', 'cv11' on !important;
    font-variant-ligatures: common-ligatures discretionary-ligatures contextual;
    box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

section {
    overflow: hidden;
    // width: 100vw;
    height: 100vh;
    padding: 0 var(--body-margin);
}

.semicircles {
    position: absolute;
    height: 90vh;
    top: 5vh;
    left: 0;
    z-index: 0;
    transform: translateX(-34vh);
    animation-name: startAnim;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#two {
    transform: translateX(0vh);
    animation-name: startAnim;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes startAnim {
    from {
         margin-left: 0vh;
     }
     to {
        margin-left: 34vh;
     }
 }



h1 {
    position: relative;
    font-size: 140px;
    line-height: 100%;
    z-index: 2;
    letter-spacing: -0.08em;
    font-weight: 450;
    text-transform: uppercase;
    color: $identity-black;
}



#start {
    position: relative;
    height: 100vh;

    .center-wrapper {
        height: 260px;
        top: calc(50vh);
        transform: translateY(-50%);
        position: relative;
    }
    
    h2 {
        position: absolute;
        width: 60%;
        top: 0;
        margin: 0;
        line-height: 68px;

    }

    #logo {
        position: absolute;
        height: 46px;
        top: -96px;
    }

    #description {
        width: 384px;
        z-index: 20;
        position: absolute;
        right: 0;
        top: 16px;
    
        p {
            margin-bottom: 16px;

            a, a:visited {
                color: $identity-black;
    
                &:hover {
                    color: $link;
                }
            }
        }
    
        #scroll-icon {
            border-radius: 50%;
            background: $background;
            height: 64px;
            width: 64px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}


.cursor {
    display: inline-block;
    background-color: $identity-black;
    transform: translateY(5%) scaleY(150%);
    margin-left: 0.1rem;
    width: 4px;
    animation: blink 1s infinite;
    height: 48px;
  }
  .cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0%  { background-color: $identity-black; }
    49% { background-color: $identity-black; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: $identity-black; }
  }



p, button {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.03em;
    font-weight: 450;
    color: $identity-black;
}

#advantages {
    background-color: $identity-sky;
    display: flex;
    flex-direction: column;
    gap: 64px;
    justify-content: center;


    div {
        width: 100%;
        display: flex;
        flex-direction: row;
        border-bottom: 8px solid $identity-black;
        padding-bottom: 24px;
        justify-content: space-between;

        h1 {
            line-height: 120px;
            position: relative;
            left: -10px;
        }

        p {
            width: 384px;
            align-self: flex-start;
            margin-left: 48px;
            // align-items: flex-end;
        }

        &:last-of-type {
            border: 0;
            padding-bottom: 0;
        }
    }
}

h2 {
    text-transform: none;
        font-size: 72px;
        line-height: 100%;
        z-index: 2;
        letter-spacing: -0.04em;
        font-weight: 450;
        color: $identity-black;
        margin: 96px 0 -10px var(--body-margin);
}

.howItWorks {
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: center;


    .mobile {
        display: none;
    }

    p {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        background-color: $background;
        border-radius: 90px;
        font-weight: 600;
        font-size: 36px;
        line-height: 110%;
    }
    
    h3 {
        font-size: 72px;
        line-height: 110%;
        font-weight: 450;
        letter-spacing: -0.06em;
        color: $identity-black;
        width: 800px;
    }

    img {
        position: absolute;
        right: 32px;
    }

    &#create {
        background-color: $identity-pink;
    }

    &#choose {
        background-color: $identity-yellow;
    }

    &#insert {
        background-color: $identity-sky;
    }
}

.examples {
    background-color: $identity-pink;
    height: calc(100vh - 116px);
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 0;
    
    .exampleImg {
        height: 500px;
        z-index: 0;
        animation-name: examples;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        margin: auto 0;
    }
}

@keyframes examples {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-310.5%);
    }
}

@keyframes star {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.email {
    background-color: $identity-yellow;
    display: flex;
    flex-direction: column;
    gap: 64px;
    justify-content: center;
    position: relative;

    .starDiv {
        position: absolute;
        top: 0;
        z-index: 0;
        height: 330px;
        overflow: hidden;

        img {
            position: relative;
            bottom: 85%;
            animation: star 240s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }

    p {
        text-transform: uppercase;
        color: $identity-black;
        font-weight: 450;
        font-size: 96px;
        line-height: 110%;
        letter-spacing: -0.06em;
        text-align: center;
        z-index: 10;
    }

    #mc-embedded-subscribe-form{
        width: 30vw;
        margin: 0 calc(50vw - var(--body-margin) - 15vw);
    }

    [type="email"] {
        background-color: $background;
        height: 64px;
        border: 3px solid transparent;
        outline: 0;
        border-radius: 16px;
        width: 100%;
        margin: 0 auto;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 450;
        font-size: 24px;
        line-height: 110%;
        letter-spacing: -0.02em;
        font-feature-settings: 'cv01' on, 'cv11' on;
        color: $identity-black;
        padding: 0 16px;
        margin-bottom: 8px;
        transition: $hover-transition;

        &:hover {
            border: 3px solid $dividers;
        }

        &:focus {
            border: 3px solid $identity-black;
        }

        &::placeholder {
            color: $identity-gray;
        }
    }

    [type="submit"] {
        background-color: $identity-black;
        height: 64px;
        border: 0;
        outline: 0;
        border-radius: 16px;
        width: 100%;
        margin: 0 auto;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 450;
        font-size: 24px;
        line-height: 110%;
        letter-spacing: -0.02em;
        font-feature-settings: 'cv01' on, 'cv11' on;
        color: $background;
        padding: 0 24px;
        transition: $hover-transition;
        cursor: pointer;

        &:hover {
            background: $identity-sky;
            color: $identity-black;
        }
    }

}

footer {
    padding: var(--body-margin) 0;

    h2 {
        margin: 64px var(--body-margin);
    }
}

.flex {
    padding: 0 var(--body-margin);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 40px;
        
    }
}

.titres {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 100%;
    padding: 0 var(--body-margin);
    margin-top: 80px;

    .titre {
        display: flex;
        flex-direction: column;
        gap: 12px;
        flex-basis: 34%;
    
        p {
            font-weight: 600;
            font-size: 20px;
            line-height: 110%;
            letter-spacing: -0.04em;
            text-transform: uppercase;
        }
    
        a {
            color: $identity-black;
            font-weight: 450;
            font-size: 36px;
            line-height: 110%;
            letter-spacing: -0.04em;

            &:hover {
                color: $link;
            }
        }
    }
}

@media (max-width: 500px) {
    :root {
        --body-margin: 32px;
    }

    h2 {
        font-size: 30px;
        line-height: 32px;
        width: 100%;
        text-transform: uppercase;
        margin-bottom: -6px;
        margin-top: calc(var(--body-margin) * 2);
    }

    #start {

        h2 {
            font-size: 30px !important;
            line-height: 32px !important;
            width: 100% !important;
            text-transform: none;
        }
        .cursor {
            height: 20px;
        }

        #logo {
            height: 36px;
            top: -68px;
        }

        .semicircles {
            height: 406px;
            margin-left: -80%;
            transform: translateX(36%);
            // animation: none;
            animation-duration: 4s;
        }

        #two {
            transform: translateX(36%);
            margin-top: 100px;
            // animation-duration: 1s;
            // display: none;

        }

        @keyframes startAnim {
            from {
                transform: translateX(0);
            }
            to {
                transform: translateX(12%);
            }
        }

        #description {
            position: relative;
            top: 308px;
            width: 100%;

            p {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 450;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: -0.03em;
            }

            .center-wrapper {
                top: 0;
                transform: translateY(0%);
                position: relative;
            }

            #scroll-icon {
                background: $identity-yellow;
                margin-top: 32px;
            }
        }
    }

    #advantages {
        h1 {
            font-size: 48px;
            letter-spacing: -0.05em;;
        }

        img {
            display: none;
        }

        div {
            flex-direction: column;
            padding-bottom: 24px;
            border-bottom-width: 4px;
            gap: 12px;

            h1 {
                left: 0;
                line-height: 48px;
            }

            p {
                margin: 0;
                width: 100%;
                font-size: 16px;
                line-height: 20px;
            }
        }
    }


    .howItWorks {
        padding-top: 96px;
        justify-content: flex-start;
        gap: 24px;

        .howImage {
            display: none;
        }

        .mobile {
            display: block;
            position: relative;
            height: 164px;
            margin-top: 64px;

            .howImage {
                width: 100vw;
                left: calc(var(--body-margin) * -1);
                height: 100%;
                object-fit: cover;
                display: block;
                // margin-left: auto;
                // margin-right: auto;
                // transform: translateX(-50%);
            }
        }

        .order {
            width: 28px;
            height: 28px;
            font-size: 20px;
        }

        h3 {
            font-size: 30px !important;
            line-height: 32px !important;
            width: 100% !important;
            text-transform: none;
            letter-spacing: -0.04em;
        }
    }

    .examples, #email, footer {
        display: none;
    }

}