@import 'stylesheets/reset.scss';
@import 'stylesheets/fonts.scss';
@import 'stylesheets/vars.scss';
@import 'stylesheets/basics.scss';
@import 'stylesheets/main.scss';

* {
    font-family: 'Inter', sans-serif !important;
    font-feature-settings: 'dlig', 'liga', 'calt', 'cv11' on !important;
    font-variant-ligatures: common-ligatures discretionary-ligatures contextual;
    box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

section {
    height: 100vh;
    padding: 0 $body-margin;
}

.semicircles {
    position: absolute;
    height: 90vh;
    top: 5vh;
    left: 0;
    z-index: 0;
    transform: translateX(-34vh);
    animation-name: startAnim;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#two {
    transform: translateX(0vh);
    animation-name: startAnim;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes startAnim {
    from {
         margin-left: 0vh;
     }
     to {
        margin-left: 34vh;
     }
 }



h1 {
    position: relative;
    font-size: 140px;
    line-height: 100%;
    z-index: 2;
    letter-spacing: -0.08em;
    font-weight: 450;
    text-transform: uppercase;
    color: $identity-black;
}

#start {
    position: relative;
    height: 100vh;

    .center-wrapper {
        height: 260px;
        top: calc(50vh);
        transform: translateY(-50%);
        position: relative;
    }
    
    h2 {
        position: absolute;
        width: 60%;
        top: 0;
    }

    #logo {
        position: absolute;
        height: 46px;
        top: -96px;
    }

    #description {
        width: 384px;
        z-index: 20;
        position: absolute;
        right: 0;
        top: 8px;
    
        p {
            margin-bottom: 24px;
        }
    
        #scroll-icon {
            border-radius: 50%;
            background: $background;
            height: 80px;
            width: 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}





p, button {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.03em;
    font-weight: 450;
    color: $identity-black;
}

#advantages {
    background-color: $identity-sky;
    display: flex;
    flex-direction: column;
    gap: 64px;
    justify-content: center;


    div {
        width: 100%;
        display: flex;
        flex-direction: row;
        border-bottom: 8px solid $identity-black;
        padding-bottom: 24px;
        justify-content: space-between;

        h1 {
            line-height: 120px;
            position: relative;
            left: -10px;
        }

        p {
            width: 384px;
            align-self: flex-start;
            margin-left: 48px;
            // align-items: flex-end;
        }
    }
}

h2 {
    text-transform: none;
        font-size: 72px;
        line-height: 100%;
        z-index: 2;
        letter-spacing: -0.04em;
        font-weight: 450;
        color: $identity-black;
}

.howItWorks {
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: center;
    p {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        background-color: $background;
        border-radius: 90px;
        font-weight: 600;
        font-size: 36px;
        line-height: 110%;
    }
    
    h3 {
        font-size: 72px;
        line-height: 110%;
        font-weight: 450;
        letter-spacing: -0.06em;
        color: $identity-black;
        width: 800px;
    }

    img {
        position: absolute;
        right: 32px;
    }

    &#create {
        background-color: $identity-pink;
    }

    &#choose {
        background-color: $identity-yellow;
    }

    &#insert {
        background-color: $identity-sky;
    }
}

.examples {
    background-color: $identity-pink;
    height: calc(100vh - 116px);
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 0;
    
    .exampleImg {
        height: 500px;
        z-index: 0;
        animation-name: examples;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        margin: auto 0;
    }
}

@keyframes examples {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-310.5%);
    }
}

@keyframes star {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.email {
    background-color: $identity-yellow;
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: center;
    position: relative;

    .starDiv {
        position: absolute;
        top: 0;
        z-index: 0;
        height: 330px;
        overflow: hidden;

        img {
            position: relative;
            bottom: 85%;
            animation: star 240s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }

    p {
        text-transform: uppercase;
        color: $identity-black;
        font-weight: 450;
        font-size: 96px;
        line-height: 110%;
        letter-spacing: -0.06em;
        text-align: center;
        z-index: 10;
    }

    form {
        display: flex;
        flex-direction: row;
        gap: 24px;
        z-index: 10;

        input {
            height: 120px;
            width: 100%;
            border: 0;
            outline: none;
            padding: 0 32px;
            border-radius: 24px;

            &[type=email], &[type=submit]  {
                font-size: 72px;
                letter-spacing: -0.04em;
                color: $identity-black;
                transition: $hover-transition;

                &::placeholder {
                    color: $identity-gray;
                }
            }

            &[type=email] {
                &:hover, &:focus {
                    outline: 3px solid $identity-black;
                }
            }

            &[type=submit] {
                background-color: $identity-black;
                color: $background;
                width: 120px;
                display: flex;
                padding-bottom: 8px;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                &:hover {
                    background-color: $identity-sky;
                    color: $identity-black;
                }
            }
        }
    }
}

footer {
    padding: $body-margin 0;
}

.flex {
    padding: 0 $body-margin;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 40px;
        
    }
}

.titres {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 100%;
    padding: 0 $body-margin;
    margin-top: 80px;

    .titre {
        display: flex;
        flex-direction: column;
        gap: 12px;
        flex-basis: 34%;
    
        p {
            font-weight: 600;
            font-size: 20px;
            line-height: 110%;
            letter-spacing: -0.04em;
            text-transform: uppercase;
        }
    
        a {
            color: $identity-black;
            font-weight: 450;
            font-size: 36px;
            line-height: 110%;
            letter-spacing: -0.04em;

            &:hover {
                color: $link;
            }
        }
    }
}

